

<table id="table1">
    <h2 id="title">Schüler 1</h2>
<table id="table2">
    <tr>
        <th id="day">Tag</th>
        <th id="selectall"> <div><label for="textselectall">Alle auswählen  <input type="checkbox"  (click)="clickselectall()">  </label> </div></th>
    </tr>
    <tr>
        <td>Montag</td>
        <td> <input type="checkbox" name="check" [checked]="monday" ></td>
        
    </tr>
    <tr>
        <td>Dienstag</td>
        <td> <input type="checkbox" name="check"  [checked]="tuesday"></td>
    </tr>
    <tr>
        <td>Mittwoch</td>
        <td><input type="checkbox" name="check" [checked]="wednesday"></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="button" class="btn btn-success btn-sm">Speichern</button>
        </td>
    </tr>
</table>
</table>