#table1
{
    background-color: #F2F6FF;
    border-radius: 8px;
    text-align: center;

}
#selectall
{
    
    font-size: small;
    color: rgb(109, 108, 108);
    font-weight: 340;
    position: relative;
    top: 5px;
    vertical-align: middle;
}
td
{
    padding-bottom: 5px;
    padding-top: 5px;
}
#textselectall
{
    vertical-align: middle;
}


#table2
{
   background-color: white;
    border-radius: 8px;
    padding: 30px;
    margin: 60px;
    width: 230px;
    margin-top: 10px;
}
#day
{
    font-weight: 800;
    padding-top: 15px;
   
}
#ueberschrift
{
   padding-top: 20px;
    

}
#table2  
{
    font-weight: 600;
    font-size: 15px;

}
button
{
    background-color: #9CF2AF;
    color: #00AF25;
    border: white;
    margin-bottom: 10px;
    height: 25px;
    width: 100px;
    font-size: 12px;


}