

<table id="table1">
    <h2 id="ueberschrift">Schüler 1</h2>
<table id="table2">
    <tr>
        <th id="tag">Tag</th>
        <th id="alleselektieren"> <div><label for="allesauswählen">Alle auswählen  <input type="checkbox"  (click)="clickallesauswaehlen()" name="Alle auswählen"  id="allesauswählen" >  </label> </div></th>
    </tr>
    <tr>
        <td>Montag</td>
        <td> <input type="checkbox" name="check" id="montag" ></td>
        
    </tr>
    <tr>
        <td>Dienstag</td>
        <td> <input type="checkbox" name="check" id="dienstag"></td>
    </tr>
    <tr>
        <td>Mittwoch</td>
        <td><input type="checkbox" name="check" id="mittwoch"></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="button" class="btn btn-success btn-sm">Speichern</button>
        </td>
    </tr>
</table>
</table>